<mat-card (click)="openPopup()">
  <mat-card-header>
    <img mat-card-avatar src="{{ imgUrl }}" alt="no img">
    <mat-card-title [innerHtml]=feedElement.title></mat-card-title>
  </mat-card-header>
  <mat-card-content [innerHTML]=description></mat-card-content>
</mat-card>
