<h2 mat-dialog-title>{{ parsedPage.title }}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{ parsedPage.excerpt }}</h3>
  <div [innerHTML]="parsedPage.content"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
